div header{
    background-color:#800000;
    color:#ffffff;
    margin:0;
    padding:0;
    text-align:center;
}

#divprincipal{
    width:79%;
    margin:0 auto;
}

#divbanner{
    width:100%;
    height:400px;
    background-image: url("../images/banner.jpg");
}

#navtopo{
    background-color:#800000;
    color:#ffffff;
}

#navtopo ul {
    list-style-type: none;
    background-color: #800000;
    margin: 0;
    padding: 0;
    width:100%;
    overflow:hidden;
    }

#navtopo ul li{
    background-color:#800000;
    float:left;
}

#navtopo ul li a{
    display:block;
    color:#ffffff;
    text-align:center;
    padding:15px;
    text-decoration:none;
}

#navtopo ul li a:hover{
    background-color:aquamarine;
    color:#00401A;
}

#divcentro{
  
    width:100%;
}

#esquerda{
    width:65%;
    float:left;
    text-align:justify;
}

#esquerda img {
    width: 50%;
    height:200px;
    float:left;
}

#direita{
    width:35%;
    float:right;
    text-align:center;
}

footer{
    width:100%;
    text-align:center;
    background-color:#800000;
    color:#ffffff;
    font-weight:bold;
    padding:5px;
}