body{background-color:#000000}

div header{
    font-family:verdana;
    list-style-type: none;
    background-color:#800000;
    color:#ffffff;
    margin:0 auto;
    padding:0;
    text-align:center;
    }

h3{
    text-align:center;
    font-family: arial;
    color:#800000;
    padding:10px;
    margin:5px;
}

h5{
    text-align:left;
    font-family: arial;
    color:#888888;;
    padding:10px;
    margin:5px;
    }

#divprincipal{
    width:85%;
    margin:0 auto;
    background-color:#000000;
}

#divbanner{
    width:100%;
    height:500px;
    background-image: url("../images/baner.jpg");
}

#navtopo{
    font-family:arial;
    background-color:#800000;
    color:#ffffff;
    text-align:center;
}

#navtopo ul {
    list-style-type: none;
    background-color: #800000;
    margin: 0;
    padding: 0;
    width:100%;
    overflow:hidden;
    }

#navtopo ul li{
    background-color:#800000;
    float:left;
}

#navtopo ul li a{
    display:block;
    color:#ffffff;
    text-align:center;
    padding:15px;
    text-decoration:none;
}

#navtopo ul li a:hover{
    background-color:aquamarine;
    color:#00401A;
}

#navtopo h3{
    color:#ffffff;
    font-weight:bold;
}

#divcentro{
    width:48%;
    float:left;
}

#umesquerda{
    display:block;
    width:100%;
    text-align:justify;
    font-family:arial;
    color:#ffffff;
}

#umesquerda img {
    width: 100%;
    display:block;
    height:300px;
    }

#doisesquerda{
    width:100%;
    text-align:justify;
    display:block;
    font-family:arial;
    color:#ffffff;
}

#doisesquerda img {
    width:100%;
    height:400px;
}

#tresesquerda{
    width:100%;
    text-align:justify;
    font-family:arial;
    color:#ffffff;
    }

#lado{
    float:right;
    width:48%;
    text-align:justify;
    font-family:arial;
    color:#ffffff;
}

footer{
    width:100%;
    text-align:center;
    background-color:#800000;
    color:#ffffff;
    font-weight:bold;
    padding:5px;
}